<!doctype html>

<head>
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <title>CoreUI</title>

  <!-- Icons-->
  <link href="vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
  <link href="vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
  <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <!-- Main styles for this application-->
  <link href="css/style.css" rel="stylesheet">
  <link href="vendors/pace-progress/css/pace.min.css" rel="stylesheet">
  <!-- <style type="text/css">
      .center-in-center{
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  -webkit-transform: translate(-50%, -50%);
                  -moz-transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                  -o-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
              }
      </style> -->
</head>

<body>
  <div id="itemsTemplate">
    <header class="app-header navbar">
      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>学习平台
      </a>

      <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
          <a class="nav-link" href="#">工作台</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">课程管理</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" href="#">设置</a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#">
            <i class="icon-bell"></i>
            <span class="badge badge-pill badge-danger">5</span>
          </a>
        </li>
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#">
            <i class="icon-list"></i>
          </a>
        </li>
        <li class="nav-item d-md-down-none">
          <a class="nav-link" href="#">
            <i class="icon-location-pin"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <img class="img-avatar" src="img/avatars/6.jpg" alt="admin@bootstrapmaster.com">
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-header text-center">
              <strong>Account</strong>
            </div>
            <a class="dropdown-item" href="#">
              <i class="fa fa-bell-o"></i> Updates
              <span class="badge badge-info">42</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-envelope-o"></i> Messages
              <span class="badge badge-success">42</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-tasks"></i> Tasks
              <span class="badge badge-danger">42</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-comments"></i> Comments
              <span class="badge badge-warning">42</span>
            </a>
            <div class="dropdown-header text-center">
              <strong>Settings</strong>
            </div>
            <a class="dropdown-item" href="#">
              <i class="fa fa-user"></i> Profile</a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-wrench"></i> Settings</a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-usd"></i> Payments
              <span class="badge badge-secondary">42</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-file"></i> Projects
              <span class="badge badge-primary">42</span>
            </a>
            <div class="divider"></div>
            <a class="dropdown-item" href="#">
              <i class="fa fa-shield"></i> Lock Account</a>
            <a class="dropdown-item" href="#">
              <i class="fa fa-lock"></i> Logout</a>
          </div>
        </li>
      </ul>
      <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
        <span class="navbar-toggler-icon"></span>
      </button>
      <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
        <span class="navbar-toggler-icon"></span>
      </button>
    </header>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">首页</li>

      <li class="breadcrumb-item active">用户管理</li>
      <li class="breadcrumb-item"><a href="dengluzhon.html">登陆</a></li>
      <!-- Breadcrumb Menu-->
    </ol>
    <div align="center">
      <div class="center-in-center" style="width:80%;">
        <div class="card">
          <div class="card-header">
            <div align="left"><i class=" font-xl  cui-people"></i>用户管理
              <div class="card-header-actions">

                <button class="btn  btn-link" type="button" data-toggle="modal" data-target="#infoModal"
                  style="color:#73818f" v-on:click="addB()"> <i class="icons icon-plus"></i>&nbsp; 新增</button>
                <button class="btn  btn-link" type="button" data-toggle="modal" style="color:#73818f"
                  data-target="#dangerModal1">
                  <i class="icons cui-trash"></i>&nbsp;删除 </button>
              </div>
            </div>
          </div>
          <div class="card-body collapse show" id="collapseExample">
            <table class="table table-responsive-sm table-bordered">
              <thead>
                <tr>
                  <th width="100p"><input type="checkbox" id="checkbox1" v-model="checkall" v-on:change="checkboxAll()">
                  </th>
                  <th width="125p">用户名</th>
                  <th width="200p">注册时间</th>
                  <th width="50p">角色</th>
                  <th width="50p">状态</th>
                  <th width="250p">操作</th>
                </tr>
              </thead>
              <tbody>
            <tr v-for="(item, index) in items" v-if="index<=pageindex*10-1 && index>=(pageindex-1)*10
                  "> 
                  <td> <input type="checkbox" name="checkbox" id="checkbox" v-model="item.select"
                      v-on:click="chooseAll(index)" />#{{item.id}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.registerDate}}</td>
                  <td>{{item.role}}</td>
                  <td> <span class="badge badge-success" v-if="item.status === '激活'">{{item.status}}</span>
                    <span class="badge badge-danger" v-if="item.status === '禁用'">{{item.status}}</span>
                  </td>
                  <td>
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#primaryModal"
                      v-on:click="edit(index)">
                      <i class="fa fa-edit "></i>编辑</button>&nbsp;&nbsp;
                    <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#dangerModal"
                      v-on:click="del(index)">
                      <i class="fa fa-close "></i>删除</button></td>
                </tr>
                <input class="xssr_in" type="text" maxlength="20" name="message">
                <input class="xssr_submit" type="submit" name="submit" value="submit">
              </tbody>
            </table>

            <!-- 分页 -->
            <div>
              <ul class="pagination" id="pagelist">
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);" onclick="app.first()">首页</a>
                </li>

                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);" onclick="app.last()" >上一页</a>
                </li>
                <li class="page-item" v-for="pageitem in pagesum" >
                  <a class="page-link" href="javascript:void(0);" onclick="app.switch(this)">{{pageitem}}</a>
                </li>

                <li class="page-item" v-for="pageitem in pageitem" v-if="pageindex>=4 && pageindex<=pagesum-3"
                  v-show="pageitem>pageindex-3 && pageitem<pageindex+3 && pageindex>=4 && pageindex<=pagesum-3">
                  <a class="page-link" href="javascript:void(0);" onclick="app.switch(this)">{{pageitem}}</a>
                </li>

                <li class="page-item" v-for="pageitem in pageitem" v-if="pageindex>pagesum-3 && pageitem>pagesum-6">
                  <a class="page-link" href="javascript:void(0);" onclick="app.switch(this)">{{pageitem}}</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);" onclick="app.Next()" >下一页</a>
                </li>
                
                <li class="page-item">
                  <a class="page-link" href="javascript:void(0);" onclick="app.lastone()">末页</a>
                </li>
                <li class="page-item">
                  <a class="page-link" style="color:cornflowerblue">{{pageindex}}/{{pagesum}}</a>
                </li>
                <li>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                </li>
                <li class="page-item">
                  <input class="form-control" id="page_1" size="16" type="text" style="width:60px">
                </li>
                <li class="page-item">
                  <a class="page-link" style="color:cornflowerblue" v-on:click="jume();">转</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 新建-->
    <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">新增</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="card-body">
            <form class="needs-validation" novalidate="true">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">用户名</label>
                <div class="col-md-9">
                  <input class="form-control" id="text-input" type="text" name="text-input" placeholder="用户名" v-model="addALL.name"pattern="^[\u4e00-\u9fa5]{2,4}$|^[A-Za-z\s]{2,50}$" required>
                  <div class="invalid-feedback" >
                    用户名不能为空并只能输入2-4中文或英文！
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="disabled-input">注册时间</label>
                <div class="col-md-9">
                  <input class="form-control" id="disabled-input" type="text" name="disabled-input"
                    placeholder="年-月-日 --：--" disabled="" v-model="addALL.registerDate">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">角色</label>
                <div class="col-md-9">
                  <select class="form-control" id="select1" name="select1" v-model="addALL.role">
                    <option>学生</option>
                    <option>教师</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">状态</label>
                <div class="col-md-9 col-form-label">
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" id="inline-radio1" type="radio" value="激活"
                      name="inline-radios" v-model="addALL.status">
                    <label class="form-check-label" for="inline-radio1">激活</label>
                  </div>
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" id="inline-radio2" type="radio" value="禁用"
                      name="inline-radios" v-model="addALL.status">
                    <label class="form-check-label" for="inline-radio2">禁用</label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-info" type="button" @click="addA">保存</button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>

          </div>
        </div>
      </div>
    </div>
    <!-- 编辑 -->
    <div class="modal fade" id="primaryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true" style="display: none;" aria-hidden="true">

      <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <h4 class="modal-title">编辑</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="card-body">
            <form class="needs-validation" novalidate>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input">用户名</label>
                <div class="col-md-9">
                  <input class="form-control" id="text-input" type="text" name="text-input" placeholder="用户名"
                    v-model="edititems.name" pattern="^[\u4e00-\u9fa5]{2,4}$|^[A-Za-z\s]{2,40}$" required>
                  <div class="invalid-feedback">
                    用户名不能为空并只能输入中文或英文！
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="disabled-input">注册时间</label>
                <div class="col-md-9">
                  <input class="form-control" id="disabled-input" type="text" name="disabled-input" placeholder="注册时间"
                    disabled="" v-model="edititems.registerDate">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select1">角色</label>
                <div class="col-md-9">
                  <select class="form-control" id="select1" name="select1" v-model="edititems.role">
                    <option value="学生" >学生</option>
                    <option value="教师">教师</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label">状态</label>
                <div class="col-md-9 col-form-label">
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" id="inline-radio1" type="radio" value="激活" name="inline-radios"
                      v-model="edititems.status" >
                    <label class="form-check-label" for="inline-radio1">激活</label>
                  </div>
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" id="inline-radio2" type="radio" value="禁用" name="inline-radios"
                      v-model="edititems.status">
                    <label class="form-check-label" for="inline-radio2">禁用</label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button class="btn btn-info" type="button" v-on:click="save()">保存</button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>

          </div>
        </div>

      </div>
    </div>

    <!-- /警告-->
    <div class="modal fade show" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-warning" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">警告！！！！！</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>请选择删除内容！！！</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">关闭</button>

          </div>
        </div>
        <!-- /.modal-content-->
      </div>
      <!-- /.modal-dialog-->
    </div>
    <!-- /删除-->
    <div class="modal fade" id="dangerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">删除</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>是否执行删除操作</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">否</button>
            <button class="btn btn-danger" type="button" v-on:click="delQ()">确定</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /选取删除-->
    <div class="modal fade" id="dangerModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">删除</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>是否执行删除操作</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">否</button>
            <button class="btn btn-danger" type="button" data-toggle="modal" v-on:click="delAll(index)">确定</button>
          </div>
        </div>
      </div>
    </div>
    <!-- /成功-->
    <div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">提示</h4>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>删除成功！</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">返回</button>
          </div>
        </div>
        <!-- /.modal-content-->
      </div>
    </div>
  </div>

  <script src="vendors/jquery/js/jquery.min.js"></script>
  <script src="vendors/popper.js/js/popper.min.js"></script>
  <script src="vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="vendors/pace-progress/js/pace.min.js"></script>
  <script src="vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
  <script src="vendors/@coreui/coreui/js/coreui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://cdn.bootcss.com/Mock.js/1.0.0/mock-min.js"></script>
  <script src="https://cdn.bootcss.com/Mock.js/1.0.0/mock.js"></script>


  <!-- 群删除 -->
  <!-- <script>
    function delAll() {
      var a = 0;
      for (var i = 0; i < items.length; i++) {
        if (items[i].select) {
          app.items.splice(i, 1);
          i--;
          a = 1;
        }
      }
      if (a == 1) {
        $('#success').modal('show');
        $('#dangerModal1').modal('hide');
        a = 0;
      }
      else {
        $('#dangerModal1').modal('hide');
        $('#warningModal').modal('show');
      }
    } -->
  <!-- 全选 -->
  <!-- <script>
    function checkboxAll() {
      var j;

      for (var j = 0; j < app.items.length; j++) {
        app.items[j].select = this.checkall;
      }
    }
  </script> -->
  <!-- 随机数据 -->
  <script>
    var d, j;
    var app;
    $(function () {
      Mock.mock("http://127.0.0.1:5500/users", {
        "data|20-20": [{
          id: "@increment()",
          "name|1": ["@cname", "@name"],
          "role|1": ["教师", "学生"],
          registerDate: "@datetime()",
          "status|1": ["激活", "禁用"]
        }],
        suceess: true,
        code: 200,
        msg: "Success"
      });
alert

      $.getJSON("http://127.0.0.1:5500/users", function (response) {
        items = response.data;
        for (var j = 0; j < items.length; j++) {
          items[j].select = false;
        }

        page = Math.ceil(items.length / 10);
        var pageitem = [];
        for (var i = 0; i < page; i++) {
          pageitem[i] = i + 1;
        }
        app = new Vue({
          el: '#itemsTemplate',
          data: {
            items: items,
            checkall: false,
            index: -1,
            editIndex: -1,
            edititems: { name: null },
            addALL:{name: null},
            pagesum: page,//总页码
            pageindex: 1,//当前页码
            pagesize: 10, //页面数据个数
            pageitem: pageitem,
          },
          computed: {
            pageItems: function () {
              var startIndex = (this.pageindex - 1) * this.pagesize;
              var editIndex = startIndex + this.pagesize - 1;
              return this.items.filter(function (value, index) {
                return (
                  index >= startIndex &&
                  index <= editIndex
                );
              });
            }
          },
          methods: {
            // 删除
            del: function (index) {
              d = index;
            },
            delQ: function () {
              app.items.splice(d, 1);
              $('#dangerModal').modal('hide');
              $('#success').modal('show');
              app.pagesum = Math.ceil(app.items.length / this.pagesize);
              if (this.pageindex > this.pagesum) {
                this.pageindex = this.pagesum;
              }
             
                },
             
            //群删
            delAll: function () {
              var a = 0;
              for (var i = 0; i < items.length; i++) {
                if (items[i].select) {
                  app.items.splice(i, 1);
                  i--;
                  a = 1;
                }
              }
              if (a == 1) {
                $('#success').modal('show');
                $('#dangerModal1').modal('hide');
                a = 0;
                this.pagesum = Math.ceil(this.items.length / this.pagesize);
                app.pageindex = 1;
              }
              else {
                $('#dangerModal1').modal('hide');
                $('#warningModal').modal('show');
              }
            },
            // 全选
            checkboxAll: function () {
              var j;
              for (var j = 0; j < app.items.length; j++) {
                app.items[j].select = this.checkall;
              }
            },
            // 新增
            addA: function () { 
       
              var forms = document.getElementsByClassName('needs-validation')[0];

             var date = new Date();
                var year = date.getFullYear();
                var month = date.getMonth() + 1;
                var day = date.getDate();
                var hh = date.getHours();
                var mi = date.getMinutes();
                var ss = date.getSeconds();
                var time = year + "-" + month + "-" + day + " " + hh + ":" + mi +
                  ":" + ss +
                  " "; 
                this.addALL.registerDate = time;
             this.addALL.id=app.items.length+1;
             if (forms.checkValidity() === true) {
              app.items.push(this.addALL);
              
              $('#infoModal').modal('hide');
              }
             app.pagesum = Math.ceil(app.items.length / this.pagesize);
                if (this.pageitem[pageitem.length - 1] != this.pagesum) {
                  this.pageitem.push(this.pagesum);
                   
                }     
                forms.classList.add('was-validated');
            },
            addB: function () { 
              var forms = document.getElementsByClassName('needs-validation')[0];
              var dateadd = {
                id: "",
                name: "",
                role: "学生",
                registerDate: "",
                status: "激活"
              };
              this.addALL = dateadd;
              forms.classList.remove('was-validated');
            },
           
            // 是否全选
            chooseAll: function (index) {
              if (this.items[index].select == false) {
                this.items[index].select = true;
              }
              else {
                this.items[index].select = false;
              }
              for (var j = 0; j < this.items.length; j++) {
                if (this.items[j].select == false) {
                  this.checkall = false;
                  break;
                } else {
                  this.checkall = true;
                }
              }
            },
            // 编辑
            edit: function (index) {
              var forms = document.getElementsByClassName('needs-validation')[1];
              forms.classList.remove('was-validated');
              this.editIndex = index;
              this.edititems = JSON.parse(JSON.stringify(this.items[index])); 
              $('#primaryModal').modal('show');
            },
            save: function () {
              var forms = document.getElementsByClassName('needs-validation')[1];
              if (forms.checkValidity() === true) {
                Vue.set(this.items, this.editIndex, this.edititems)
                $('#primaryModal').modal('hide');
              }
              forms.classList.add('was-validated');
            },
            //分页
            switch: function (x) {
              $('.pagination li').removeClass('active');
              x.parentNode.className = "page-item active";
              this.pageindex = parseInt(x.innerHTML);
            },
            //首页
            first: function () {
              if (this.pageindex != 1) {
                this.pageindex = 1;
              }
              this.$nextTick(function () {
                $('.pagination li').removeClass('active');
                var pidx = String(this.pageindex);
                var li = document.getElementsByClassName("page-item");
                for (var i = 0; i < li.length; i++) {
                  if (li[i].childNodes[0].innerHTML === pidx) {
                    li[i].className = "page-item active";
                    break;
                  }
                }

              })
            },
            //末页
            lastone: function () {
              if (this.pageindex != this.pagesum) {
                this.pageindex =this.pagesum;
              }
              this.$nextTick(function () {
                $('.pagination li').removeClass('active');
                var pidx = String(this.pageindex);
                var li = document.getElementsByClassName("page-item");
                for (var i = 0; i < li.length; i++) {
                  if (li[i].childNodes[0].innerHTML === pidx) {
                    li[i].className = "page-item active";
                    break;
                  }
                }

              })
            },
            //上一页
            last: function () {
              if (this.pageindex != 1) {
                this.pageindex--;
              }
              this.$nextTick(function () {
                $('.pagination li').removeClass('active');
                var pidx = String(this.pageindex);
                var li = document.getElementsByClassName("page-item");
                for (var i = 0; i < li.length; i++) {
                  if (li[i].childNodes[0].innerHTML === pidx) {
                    li[i].className = "page-item active";
                    break;
                  }
                }

              })

            },
            //下一页
            Next: function () {
              if (this.pageindex != app.pagesum) {
                this.pageindex++;
               
              }

              this.$nextTick(function () {
                $('.pagination li').removeClass('active');
                var pidx = String(this.pageindex);
                var li = document.getElementsByClassName("page-item");
                for (var i = 0; i < li.length; i++) {
                  if (li[i].childNodes[0].innerHTML === pidx) {
                    li[i].className = "page-item active";
                    break;
                  }
                }

              })

            },
            //跳转页数
            jume: function () {
              var page = document.getElementById('page_1').value;
              reg = /^\d+$/
              if (page.length == 0) {
                alert("请输入跳转页码");
                return;
              } else if (page < 1 || page > app.pagesum) {
                alert("您输入的页码超过页数范围了！");
                return;
              } else if (reg.test(page) != true) {
                alert("请输入数字！");
                return;
              }
              this.pageindex = parseInt(page);
              page = "";
              this.$nextTick(function () {
                $('.pagination li').removeClass('active');
                var pidx = String(this.pageindex);
                var li = document.getElementsByClassName("page-item");
                for (var i = 0; i < li.length; i++) {
                  if (li[i].childNodes[0].innerHTML === pidx) {
                    li[i].className = "page-item active";
                    break;

                  }

                }
              })
            }
          }
        });
        return;
      });
    });
  </Script>
</body>

</html>