<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jwz.salesteam.dao.GoodsInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jwz.salesteam.entity.GoodsInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="VARCHAR" />
    <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
    <result column="goods_selling_price" property="goodsSellingPrice" jdbcType="INTEGER" />
    <result column="goods_cost_price" property="goodsCostPrice" jdbcType="INTEGER" />
    <result column="goods_cover_img" property="goodsCoverImg" jdbcType="VARCHAR" />
    <result column="goods_detail_content" property="goodsDetailContent" jdbcType="VARCHAR" />
    <result column="goods_intro" property="goodsIntro" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, goods_id, goods_name, goods_selling_price, goods_cost_price, goods_cover_img, goods_detail_content,
    goods_intro, create_time, update_time, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from goods_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from goods_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jwz.salesteam.entity.GoodsInfo" >
    insert into goods_info (id, goods_id, goods_name, 
      goods_selling_price, goods_cost_price, goods_cover_img, goods_detail_content,
      goods_intro, create_time, update_time, 
      is_del)
    values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, 
      #{goodsSellingPrice,jdbcType=INTEGER}, #{goodsCostPrice,jdbcType=INTEGER},#{goodsCoverImg,jdbcType=VARCHAR},
      #{goodsDetailContent,jdbcType=VARCHAR}, #{goodsIntro,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE},
      #{updateTime,jdbcType=DATE}, #{isDel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jwz.salesteam.entity.GoodsInfo" >
    insert into goods_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="goodsName != null" >
        goods_name,
      </if>
      <if test="goodsSellingPrice != null" >
        goods_selling_price,
      </if>
      <if test="goodsCostPrice != null" >
        goods_cost_price,
      </if>
      <if test="goodsCoverImg != null" >
        goods_cover_img,
      </if>
      <if test="goodsDetailContent != null" >
        goods_detail_content,
      </if>
      <if test="goodsIntro != null" >
        goods_intro,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsSellingPrice != null" >
        #{goodsSellingPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsCostPrice != null" >
        #{goodsCostPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsCoverImg != null" >
        #{goodsCoverImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetailContent != null" >
        #{goodsDetailContent,jdbcType=VARCHAR},
      </if>
      <if test="goodsIntro != null" >
        #{goodsIntro,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jwz.salesteam.entity.GoodsInfo" >
    update goods_info
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=VARCHAR},
      </if>
      <if test="goodsName != null" >
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsSellingPrice != null" >
        goods_selling_price = #{goodsSellingPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsCostPrice != null" >
        goods_cost_price = #{goodsCostPrice,jdbcType=INTEGER},
      </if>
      <if test="goodsCoverImg != null" >
        goods_cover_img = #{goodsCoverImg,jdbcType=VARCHAR},
      </if>
      <if test="goodsDetailContent != null" >
        goods_detail_content = #{goodsDetailContent,jdbcType=VARCHAR},
      </if>
      <if test="goodsIntro != null" >
        goods_intro = #{goodsIntro,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jwz.salesteam.entity.GoodsInfo" >
    update goods_info
    set goods_id = #{goodsId,jdbcType=VARCHAR},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_selling_price = #{goodsSellingPrice,jdbcType=INTEGER},
      goods_cost_price = #{goodsCostPrice,jdbcType=INTEGER},
      goods_cover_img = #{goodsCoverImg,jdbcType=VARCHAR},
      goods_detail_content = #{goodsDetailContent,jdbcType=VARCHAR},
      goods_intro = #{goodsIntro,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      update_time = #{updateTime,jdbcType=DATE},
      is_del = #{isDel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByName" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List"/>
    from goods_info
    where  goods_name = #{goodsName,jdbcType=VARCHAR}
    and is_del = 0 limit 1
  </select>

  <select id="findGoodsInfoList" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from goods_info
    order by id desc
  </select>

  <select id="selectByNameAndId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List"/>
    from goods_info
    where  goods_name = #{goodsName,jdbcType=VARCHAR} and id != #{id,jdbcType=INTEGER}
    limit 1
  </select>

  <select id="findByGoodsName"  resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from goods_info
    where goods_name  LIKE CONCAT(CONCAT('%', #{goods_name}), '%')
    order by id desc
  </select>

  <select id="getGoodsInfoList" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from goods_info
    where is_del = 0
  </select>

  <select id="getGoodsInfo" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from goods_info
    where id = #{id,jdbcType=INTEGER} and is_del = 0
  </select>

  <select id="selectByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from goods_info
    where goods_id = #{goods_id,jdbcType=VARCHAR}
  </select>
</mapper>