<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jwz.salesteam.dao.OrderInfoMapper" >
  <resultMap id="BaseResultMap" type="com.jwz.salesteam.entity.OrderInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="emp_id" property="empId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="take_in_price" property="takeInPrice" jdbcType="INTEGER" />
    <result column="mode_of_distibution" property="modeOfDistibution" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="finish_time" property="finishTime" jdbcType="DATE" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, emp_id, user_id, take_in_price, mode_of_distibution, status, create_time, 
    finish_time, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jwz.salesteam.entity.OrderInfo" >
    insert into order_info (id, order_id, emp_id, 
      user_id, take_in_price, mode_of_distibution, 
      status, create_time, finish_time, 
      is_del)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{takeInPrice,jdbcType=INTEGER}, #{modeOfDistibution,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=DATE}, #{finishTime,jdbcType=DATE}, 
      #{isDel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jwz.salesteam.entity.OrderInfo" >
    insert into order_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="takeInPrice != null" >
        take_in_price,
      </if>
      <if test="modeOfDistibution != null" >
        mode_of_distibution,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="finishTime != null" >
        finish_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="takeInPrice != null" >
        #{takeInPrice,jdbcType=INTEGER},
      </if>
      <if test="modeOfDistibution != null" >
        #{modeOfDistibution,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=DATE},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jwz.salesteam.entity.OrderInfo" >
    update order_info
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="takeInPrice != null" >
        take_in_price = #{takeInPrice,jdbcType=INTEGER},
      </if>
      <if test="modeOfDistibution != null" >
        mode_of_distibution = #{modeOfDistibution,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="finishTime != null" >
        finish_time = #{finishTime,jdbcType=DATE},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jwz.salesteam.entity.OrderInfo" >
    update order_info
    set order_id = #{orderId,jdbcType=VARCHAR},
      emp_id = #{empId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      take_in_price = #{takeInPrice,jdbcType=INTEGER},
      mode_of_distibution = #{modeOfDistibution,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE},
      finish_time = #{finishTime,jdbcType=DATE},
      is_del = #{isDel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>