<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwz.salesteam.dao.UserInfoMapper">
  <resultMap id="BaseResultMap" type="com.jwz.salesteam.entity.UserInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_sex" jdbcType="INTEGER" property="userSex" />
    <result column="user_tel" jdbcType="VARCHAR" property="userTel" />
    <result column="user_vip" jdbcType="INTEGER" property="userVip" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
    <result column="first_saleman" jdbcType="INTEGER" property="firstSaleman" />
    <result column="last_saleman" jdbcType="INTEGER" property="lastSaleman" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, user_sex, user_tel, user_vip, user_address, first_saleman, last_saleman, create_time, update_time, is_del
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jwz.salesteam.entity.UserInfo">
    insert into user_info ( id, user_name, user_sex, user_tel, user_vip,
     user_address, first_saleman, last_saleman,
     create_time, update_time, is_del)
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userSex,jdbcType=INTEGER},
      #{userTel,jdbcType=VARCHAR},#{userVip,jdbcType=INTEGER},#{userAddress,jdbcType=VARCHAR},
      #{firstSaleman,jdbcType=INTEGER},#{lastSaleman,jdbcType=INTEGER},#{createTime,jdbcType=DATE},
      #{updateTime,jdbcType=DATE}, #{isDel,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jwz.salesteam.entity.UserInfo">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="user_name != null">
        user_name,
      </if>
      <if test="user_sex != null">
        user_sex,
      </if>
      <if test="user_tel != null">
        user_tel,
      </if>
      <if test="user_vip != null">
        user_vip,
      </if>
      <if test="user_address != null">
        user_address,
      </if>
      <if test="first_saleman != null">
        first_saleman,
      </if>
      <if test="last_saleman != null">
        last_saleman,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
      <if test="is_del != null">
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userTel != null">
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userVip != null">
        #{userVip,jdbcType=INTEGER},
      </if>
      <if test="userAddress != null">
        #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="firstSaleman != null">
        #{firstSaleman,jdbcType=INTEGER},
      </if>
      <if test="lastSaleman != null">
        #{lastSaleman,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jwz.salesteam.entity.UserInfo">
    update user_info
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        user_sex = #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userTel != null">
        user_tel = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userVip != null">
        user_vip = #{userVip,jdbcType=INTEGER},
      </if>
      <if test="userAddress != null">
        user_address = #{userAddress,jdbcType=VARCHAR},
      </if>
      <if test="firstSaleman != null">
        first_saleman = #{firstSaleman,jdbcType=INTEGER},
      </if>
      <if test="lastSaleman != null">
        last_saleman = #{lastSaleman,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jwz.salesteam.entity.UserInfo">
    update user_info
    set #{userName,jdbcType=VARCHAR}, #{userSex,jdbcType=INTEGER},
      #{userTel,jdbcType=VARCHAR},#{userVip,jdbcType=INTEGER},#{userAddress,jdbcType=VARCHAR},
      #{firstSaleman,jdbcType=INTEGER},#{lastSaleman,jdbcType=INTEGER},#{createTime,jdbcType=DATE},
      #{updateTime,jdbcType=DATE}, #{isDel,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="findUserInfoList" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from user_info
    order by id desc
  </select>

  <select id="findByUserName"  resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from user_info
    where user_name  LIKE CONCAT(CONCAT('%', #{user_name}), '%')
    order by id desc
  </select>

  <select id="selectByTelAndId" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List"/>
    from user_info
    where  user_tel = #{user_tel,jdbcType=VARCHAR}  and id != #{id,jdbcType=INTEGER} limit 1
  </select>


  <select id="selectByTel" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List"/>
    from user_info
    where  user_tel = #{user_tel,jdbcType=VARCHAR}
  </select>
</mapper>